* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

:root {
  --primary-color: #173a39;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}

header h1 {
  color: var(--primary-color);
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-right: 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: capitalize;
  color: #111;
}

header ul li:hover {
  color: var(--primary-color);
}

header ul li.active {
  color: var(--primary-color);
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.search-section .container {
  width: 35%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0px 10px #ccc9c9;
}

.search-section .container > div:nth-child(1) {
  position: relative;
}

.search-section .container input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 1rem 4rem 1rem 2rem;
  font-size: 1rem;
}

.search-section .container > div:nth-child(1) i {
  position: absolute;
  color: var(--primary-color);
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
/* Modal Container Style  */

.upmodal {
  display: none;
}

.upmodal[show] {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Modal Style  */

.upmodal[show] .modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 15%;
  top: 15%;
  width: 70%;
  height: 70%;
  border-radius: 10px;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}

/* Modal Close button Style  */

.upmodal[show] .modal #btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #eee;
  outline: 0;
  border: 0;
  cursor: pointer;
  user-select: none;
}

.upmodal[show] .modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
  text-align: center;
}

.upmodal[show] .modal-title {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.upmodal[show] .modal-author {
  color: rgb(105, 105, 105);
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.upmodal[show] .modal-date {
  text-align: start;
  margin-top: 20px;
}

.upmodal[show] .modal-description {
  color: #000;
  font-size: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 157.2%;
  color: #444444;
}

.upmodal[show] .modal-img {
  max-width: 600px !important;
  user-select: none;
}
